<div class="sign_in_sec current" id="tab-1">
    <h3>Reset Password</h3>
    <form [formGroup]="resetPassword">
        <div class="col-lg-12 no-pdd">
            <div class="example-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Password </mat-label>
                    <input matInput type="password" class="inputMyStyle" formControlName="password" required>
                    <mat-error *ngIf="resetPassword.controls['password'].hasError('required')">
                        You must enter a value
                    </mat-error>
                    <mat-error *ngIf="resetPassword.controls['password'].hasError('minlength')">
                        Required length is at least 4 characters
                    </mat-error>
                    <mat-error *ngIf="this.resetPassword.controls['password'].hasError('maxlength')">
                        Required length is at least 10 characters
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 no-pdd">
            <div class="example-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Repeat password</mat-label>
                    <input matInput type="password" class="inputMyStyle" formControlName="repeatPassword" required>
                    <mat-error *ngIf="resetPassword.controls['repeatPassword'].hasError('required')">
                        You must enter a value
                    </mat-error>
                    <mat-error *ngIf="resetPassword.hasError('mismatch')">
                        Incompatible password
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 no-pdd">
            <button type="button" [disabled]="!resetPassword.valid" (click)="onRecoverPW()">
                Recover Password
            </button>
        </div>

    </form>
</div>