<section class="profile-account-setting">

  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3 col-md-12">
              <div class="filter-secs">
                <div class="filter-heading">
                  <h3>Home</h3>
                </div>
                <div>
                  <div class="gender">
                    <h5 style="padding-left: 10px;">Gender</h5>
                    <section class="example-section" style="padding-left: 15px; font-size: 12px;">
                      <mat-checkbox class="example-margin" (change)="onChange($event, 'Male')"  >Male
                      </mat-checkbox>
                      <mat-checkbox class="example-margin" (change)="onChange($event, 'Femele')" >Femele
                      </mat-checkbox>
                    </section>
                  </div>

                  <h5 style="padding-left: 10px;">Hair Color</h5>
                  <section class="example-section" style="padding-left: 15px; font-size: 12px;">
                    <mat-checkbox class="example-margin">Black</mat-checkbox>
                    <mat-checkbox class="example-margin">Blond</mat-checkbox><br>
                    <mat-checkbox class="example-margin">White</mat-checkbox>
                    <mat-checkbox class="example-margin">Blue</mat-checkbox>
                  </section>

                  <h5 style="padding-left: 10px;">Eyes Color</h5>
                  <section class="example-section" style="padding-left: 15px; font-size: 12px;">
                    <mat-checkbox class="example-margin">Blue</mat-checkbox>
                    <mat-checkbox class="example-margin">Brown</mat-checkbox><br>
                    <mat-checkbox class="example-margin">Green</mat-checkbox>
                  </section>

                </div>


              </div>
              <!--filter-secs end-->
            </div>
            <div class="col-lg-9 col-md-12">
              <div class="helpforum">
                <div class="row">
                  <div class="col-lg-9 col-md-12">
                    <h3>Visit Our Help Forum</h3>
                    <p>View, ask, or answer questions about using LinkedIn. Our moderators and community can help!</p>
                  </div>
                  <div class="col-lg-3 col-md-12">
                    <a href="#">Visit Help Forum</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div><!-- main-section-data end-->
      </div>
    </div>
  </main>
</section>