<section class="profile-account-setting">
    <section class="cover-sec">
        <img src="assets/images/resources/cover-img.jpg" alt="">
    </section>
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        <div class="user_profile">
                            <div class="user-pro-img">
                                <img src="assets/images/resources/user-pro-img.png" alt="">
                            </div>
                            <div class="user_pro_status">
                                <ul class="flw-hr">
                                    <li><a routerLink="/plateforme/profiles" title="" class="flww"><i
                                                class="la la-arrow-circle-left" ></i>
                                            Back</a></li><!-- la la-plus -->
                                    <li><a href="#" title="" class="hre">Match</a></li>
                                </ul>
                                <ul class="flw-status">
                                    <li>
                                        <span>Following</span>
                                        <b>34</b>
                                    </li>
                                    <li>
                                        <span>Followers</span>
                                        <b>155</b>
                                    </li>
                                </ul>
                            </div>
                            <!--user_pro_status end-->
                            <ul class="social_links">
                                <li>E-Mail : {{user?.email}}</li>
                                <li>Username : {{user?.username}}</li>
                                <li>Gender : {{user?.gender}}</li>
                                <li>Birthdate : {{user?.birthdate}}</li>
                                <li>Eyes color : {{user?.eyesColor}}</li>
                                <li>Hair color : {{user?.hairColor}}</li>
                            </ul>
                        </div>
                    </div>
                    <!--main-left-sidebar end-->
                </div>
                <div class="col-lg-9">
                    <div class="user-tab-sec rewivew">
                        <h3>{{user?.name}}</h3>
                        <div class="star-descp">
                            <span>{{user?.username}}</span>
                        </div>
                    </div>
                    <div class="portfolio-gallery-sec">
                        <h3>Photos</h3>
                        <div class="portfolio-btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>