<section class="profile-account-setting">
    <section class="cover-sec">
        <img src="assets/images/resources/cover-img.jpg" alt="">
    </section>
    <div class="container">
        <div class="main-section-data">
            <div class="row">
                <div class="col-lg-3">
                    <div class="main-left-sidebar">
                        <div class="user_profile">
                            <div class="user-pro-img">
                                <img src="assets/images/resources/user-pro-img.png" alt="">
                            </div>
                            <!--user-pro-img end-->
                            <div class="user_pro_status">
                                <ul class="flw-hr">
                                    <li><a href="#" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
                                    <li><a href="#" title="" class="hre">Hire</a></li>
                                </ul>
                                <ul class="flw-status">
                                    <li>
                                        <span>Following</span>
                                        <b>34</b>
                                    </li>
                                    <li>
                                        <span>Followers</span>
                                        <b>155</b>
                                    </li>
                                </ul>
                            </div>
                            <!--user_pro_status end-->
                            <ul class="social_links">
                                <li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                <li><a href="#" title=""><i class="fa fa-facebook-square"></i>
                                        Http://www.facebook.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-twitter"></i>
                                        Http://www.Twitter.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-google-plus-square"></i>
                                        Http://www.googleplus.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-behance-square"></i>
                                        Http://www.behance.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-pinterest"></i>
                                        Http://www.pinterest.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-instagram"></i>
                                        Http://www.instagram.com/john...</a></li>
                                <li><a href="#" title=""><i class="fa fa-youtube"></i>
                                        Http://www.youtube.com/john...</a></li>
                            </ul>
                        </div>
                        <!--user_profile end-->
                        <!-- <div class="suggestions full-width">
                            <div class="sd-title">
                                <h3>Suggestions</h3>
                                <i class="la la-ellipsis-v"></i>
                            </div>
                        </div> -->
                        <!--suggestions end-->
                    </div>
                    <!--main-left-sidebar end-->
                </div>
                <div class="col-lg-9">
                    <div class="user-tab-sec rewivew">
                        <h3>John Doe</h3>
                        <div class="star-descp">
                            <span>Graphic Designer at Self Employed</span>
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                            </ul>
                            <a href="#" title="">Status</a>
                        </div>
                    </div>
                    <div class="portfolio-gallery-sec">
                        <h3>Photos</h3>
                        <div class="portfolio-btn">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>