<!--sign_in_sec end-->
<div class="sign_in_sec" id="tab-2">

    <h3>Sign Up</h3>
    <div class="dff-tab current">
        <form [formGroup]="formRegister" (ngSubmit)="onRegister()">
            <div class="row">
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Full Name" class="inputMyStyle" formControlName="name"
                                required>
                            <mat-error *ngIf="formRegister.get('name').hasError(required)">
                                {{getName()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="Username" class="inputMyStyle" formControlName="username"
                                required (blur)="onBlurMethodUsername()">
                            <mat-error *ngIf="formRegister.get('username')?.invalid">
                                {{getUsername()}}
                            </mat-error>
                            <mat-error *ngIf="formRegister.get('username').hasError">
                                {{usernameExist()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput placeholder="E-Mail" class="inputMyStyle" formControlName="email" required
                                (blur)="onBlurEmail()">
                            <mat-error *ngIf="formRegister.get('email').hasError">
                                {{getErrorMessageEmail()}}
                            </mat-error>
                            <mat-error *ngIf="formRegister.get('email').hasError">
                                {{mailExist()}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <input placeholder="Birthdate" matInput type="date" class="inputMyStyle"
                                formControlName="birthdate" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <mat-select placeholder="Gender" formControlName="gender">
                                <mat-option *ngFor="let gender of genders" value="{{gender}}">{{gender}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <mat-select placeholder="Eyes Color" formControlName="eyesColor">
                                <mat-option *ngFor="let eyes of eyesColors" value="{{eyes}}">{{eyes}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <mat-select placeholder="Hair Color" formControlName="hairColor">
                                <mat-option *ngFor="let hair of hairColors" value="{{hair}}">{{hair}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput type="password" class="inputMyStyle" placeholder="Password"
                                formControlName="password" required>
                                <mat-error *ngIf="formRegister.controls['password'].hasError('required')">
                                    You must enter a value
                                </mat-error>
                                <mat-error *ngIf="formRegister.controls['password'].hasError('minlength')">
                                    Required length is at least 6 characters
                                </mat-error>
                                <mat-error *ngIf="this.formRegister.controls['password'].hasError('maxlength')">
                                    Required length is at least 10 characters
                                </mat-error>
                            <!-- <mat-error *ngIf="formRegister.get('password').hasError">
                                {{getPassword()}}
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <button type="submit" [disabled]="!formRegister.valid" value="submit" (click)=onRegister()>
                        Get Started
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--dff-tab end-->
</div>