.creteria {
  //color: coral;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 2px 3px;
  background-color: #f44336;
  color: white;
  float: right;
}

.creteria:hover{
    background-color:#51a5fb;
}