<section class="messages-page" style="background-color: #f2f2f2;">
    <div class="container">
        <div class="messages-sec">
            <div class="row">
                <div class="col-lg-4 col-md-12 no-pdd">
                    <div class="msgs-list">
                        <div class="msg-title">
                            <h3>Messages</h3>
                            <ul>
                                <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                                <li><a href="#" title=""><i class="fa fa-ellipsis-v"></i></a></li>
                            </ul>
                        </div>
                        <!--msg-title end-->
                        <div class="messages-list" *ngFor="let item of listAmis ;index as i">
                            <ul>
                                <!-- <li class="active" style="border: 1px solid green;">
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="assets/images/resources/m-img1.png" alt="">
                                            <span class="msg-status"></span>
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>John Doe</h3>
                                            <p>Lorem ipsum dolor <img src="assets/images/smley.png" alt=""></p>
                                        </div>
                                        <span class="posted_time">1:55 PM</span>
                                        <span class="msg-notifc">1</span>
                                    </div>
                                </li> -->
                                <li style="border: 3px solid #e44d3a;" (click)="clickUser(item?.id)">
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="{{url+ '/' +item?.id}}" alt="">
                                            <span class="msg-status"></span>
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>{{item?.name}}</h3>
                                            <p>{{item?.description}}
                                            </p>
                                        </div>
                                        <!-- <span class="posted_time">1:55 PM</span>
                                        <span class="msg-notifc">1</span> -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                    <div class="main-conversation-box">
                        <div class="">
                            <div class="message-bar-head">
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="{{url+ '/' +chosenUser?.id}}" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3>{{chosenUser?.name}}</h3>
                                        <!-- <p>Online</p> -->
                                    </div>
                                </div>
                                <a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
                            </div>
                            <div class="messages-line mCustomScrollbar _mCS_1" style="padding-top: 95px;">
                                <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                                    style="max-height: none;" tabindex="0">
                                    <div id="mCSB_1_container" class="mCSB_container"
                                        style="position:relative; top:0; left:0;" dir="ltr">
                                        <!-- <div class="scrollingDiv"></div> -->
                                        <!-- <cdk-virtual-scroll-viewport itemSize="200" class="example-viewport"> -->
                                        <div *ngFor="let message of listeMessages">
                                            <!--main-message-box end-->
                                            <div class="main-message-box ta-right">
                                                <div *ngIf="message.user.id !== connectUser.id">
                                                    <div class="message-dt">
                                                        <div class="message-inner-dt">
                                                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                                        rutrum
                                                        congue leo eget malesuada. Vivamus suscipit tortor eget felis
                                                        porttitor.
                                                    </p> -->
                                                            <p>{{message.content}}</p>
                                                            <span class="time_date">
                                                                {{message.createdDate | date}}</span>
                                                        </div>

                                                    </div>
                                                    <div class="messg-usr-img">
                                                        <img src="{{url+ '/' +chosenUser?.id}}" alt=""
                                                            class="mCS_img_loaded">
                                                    </div>
                                                </div>
                                                <!--messg-usr-img end-->
                                            </div>
                                            <!--main-message-box end-->
                                            <div class="main-message-box st3">
                                                <div *ngIf="message.user.id === connectUser.id">
                                                    <!-- <div class="message-dt st3"> -->
                                                    <div class="message-dt st3">
                                                        <div class="message-inner-dt">
                                                            <!-- <p>Cras ultricies ligula.<img src="assets/images/smley.png" alt=""
                                                            class="mCS_img_loaded"></p> -->
                                                            <p>{{message.content}}</p>
                                                            <span class="time_date">
                                                                {{message.createdDate | date}}</span>
                                                        </div>
                                                        <!--message-inner-dt end-->
                                                        <!-- <span>5 minutes ago</span> -->
                                                    </div>
                                                    <!--message-dt end-->
                                                    <div class="messg-usr-img">
                                                        <img src="{{url+ '/' +connectUser?.id}}" alt=""
                                                            class="mCS_img_loaded">
                                                    </div>
                                                </div>
                                                <!--messg-usr-img end-->
                                            </div>
                                        </div>
                                        <!-- </cdk-virtual-scroll-viewport> -->
                                    </div>
                                    <div id="mCSB_1_scrollbar_vertical"
                                        class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical"
                                        style="display: block;">
                                        <div class="mCSB_draggerContainer">
                                            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                                style="position: absolute; min-height: 30px; display: block; height: 419px; max-height: 594px; top: 0px;">
                                                <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                            </div>
                                            <div class="mCSB_draggerRail"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--messages-line end-->
                        <div class="message-send-area">
                            <form>
                                <div class="mf-field">
                                    <form [formGroup]="messageForm">
                                        <input type="text" formControlName="content" class="write_msg"
                                            placeholder="Type a message" />
                                        <button class="msg_send_btn" (click)="sendMessage()" type="submit"><i
                                                class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                    </form>
                                </div>
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
                                </ul>
                            </form>
                        </div>
                        <!--message-send-area end-->
                    </div>
                    <!--main-conversation-box end-->
                </div>
            </div>
        </div>
        <!--messages-sec end-->
    </div>
</section>