<section class="profile-account-setting">
    <section class="cover-sec">
        <img src="assets/images/resources/cover-img.jpg" alt="">
        <div class="add-pic-box">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-12 col-sm-12">
                        <input type="file" id="file">
                        <label for="file">Change Image</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <!-- <img [src]="urlimg2" alt="Image SID" width="200" height="200"> -->
                                    <img src="http://localhost:8080/api/image/getPhoto/{{userData?.id}}" alt="Image SID"
                                        width="200" height="200">
                                    <div class="add-dp" id="OpenImgUpload">
                                        <input type="file" style="display: none;" #fileselector accept="image/*"
                                            (change)="onSelectFileImgProfile($event)">
                                        <label for="file" (click)="fileselector.click()"><i
                                                class="fas fa-camera"></i></label>
                                    </div>

                                </div>
                                <!--user-pro-img end-->
                                <div class="user_pro_status">
                                    <ul class="flw-status">
                                        <li>
                                            <span>Following</span>
                                            <a [routerLink]="'/plateforme/friend'">Following Friends</a><br>
                                            <b>{{listAmis.length}}</b>
                                        </li>
                                    </ul>
                                </div>
                                <!--user_pro_status end-->
                                <ul class="social_links">
                                    <li>E-Mail : {{userData?.email}}</li>
                                    <li>Username : {{userData?.username}}</li>
                                    <li>Gender : {{userData?.gender}}</li>
                                    <li>Birthdate : {{userData?.birthdate}}</li>
                                    <li>Eyes color : {{userData?.eyesColor}}</li>
                                    <li>Hair color : {{userData?.hairColor}}</li>
                                </ul>
                                <!-- <ul class="social_links">
                                    <li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                    <li><a href="#" title=""><i class="fa fa-facebook-square"></i>
                                            Http://www.facebook.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i>
                                            Http://www.Twitter.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-google-plus-square"></i>
                                            Http://www.googleplus.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-behance-square"></i>
                                            Http://www.behance.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-pinterest"></i>
                                            Http://www.pinterest.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-instagram"></i>
                                            Http://www.instagram.com/john...</a></li>
                                    <li><a href="#" title=""><i class="fa fa-youtube"></i>
                                            Http://www.youtube.com/john...</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="user-tab-sec rewivew">
                            <h3>{{userData?.name}}</h3>
                            <div class="star-descp">
                                <span>{{userData?.description}}</span>
                                <!-- <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-half-o"></i></li>
                                </ul> -->
                                <!-- <a href="#" title="">Status</a> -->
                            </div>
                        </div>
                        <div class="portfolio-gallery-sec">
                            <div class="row">
                                <div class="col-12">
                                    <h3>Photos</h3>
                                    <div class="portfolio-btn">
                                        <div class="myLink">
                                            <label>
                                                <!-- accept=".png, .jpg" -->
                                                <input type="file" style="display: none;" accept="image/*"
                                                    (change)="onSelectFile($event)">
                                                <a> <i class="fas fa-plus-square"></i>Add Photo</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <!-- <div class="gallery_pt"> -->
                                    <!-- <div class="column"> -->
                                    <div *ngFor="let imgItem of listNameImages" class="col-md-4">

                                        <img class="image"
                                            src="http://localhost:8080/api/image/sidImage/{{imgItem.name}}"
                                            alt="Image SID" width="200" height="200">
                                        <!-- </div> -->
                                        <!-- <img src="assets/images/resources/pf-img1.jpg" alt="img1"> -->
                                        <!-- <a href="#" title=""><img src="assetes/images/all-out.png" alt=""></a> -->
                                    </div>
                                    <!--gallery_pt end-->
                                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                        <div class="gallery_pt">
                                            <img src="assets/images/resources/pf-img1.jpg" alt="img1">
                                        </div>
                                    </div> -->

                                </div>
                            </div>
                            <!--gallery_pf end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>