<div class="sign_in_sec current" id="tab-1">
    <h3>Reset Password</h3>
    <form [formGroup]="formForgetPassword">

        <div class="col-lg-12 no-pdd">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Email </mat-label>
                    <input matInput placeholder="E-Mail" class="inputMyStyle" formControlName="email" required
                        (blur)="onBlurEmail()">
                    <mat-error *ngIf="formForgetPassword.controls['email'].hasError('required')">
                        You must enter a value
                    </mat-error>
                    <mat-error *ngIf="this.formForgetPassword.get('email').hasError('email')===true">
                        The email is not valid
                    </mat-error>
                    <mat-error *ngIf="formForgetPassword.get('email').hasError">
                        {{mailNotExist()}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12 no-pdd">
            <button type="button" [disabled]="!formForgetPassword.valid" (click)="onResetPW()">
                Reset Password
            </button>
        </div>
    </form>
</div>