<div class="container" class="sign-in" oncontextmenu="return true;">

    <div class="wrapper" style="background-color: #e75348;">
        <div class="sign-in-page">
            <div class="signin-popup">
                <div class="signin-pop">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmp-info">
                                <div class="cm-logo">
                                    <img src="assets/images/cm-logo.png" alt="">
                                    <p>Workwise, is a global freelancing platform and social networking where businesses
                                        and independent professionals connect and collaborate remotely</p>
                                </div>
                                <!--cm-logo end-->
                                <img src="assets/images/cm-main-img.png" alt="">
                            </div>
                            <!--cmp-info end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="login-sec">
                                <ul class="sign-control">
                                    <!-- <button type="button" routerLink="signIn">Sign in</button>
                                    <button type="button" routerLink="signUp">Sign up</button> -->
                                    <li data-tab="tab-1" class="current"><a routerLink='/auth/signIn' title="">Sign
                                            in</a>
                                    </li>
                                    <li data-tab="tab-2"><a routerLink='/auth/signUp' title="">Sign up</a></li>
                                </ul>
                            </div>
                            <!--login-sec end-->
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                <!--signin-pop end-->
            </div>
            <!--signin-popup end-->
        </div>
    </div>
</div>